{% extends 'base.html' %}

{% block title %}Registros{% endblock %}

{% block content %}

<h1>Registros</h1>

<table class="table table-hover">

    <thead>
        <tr>
            <th>Hábito</th>
            <th>Fecha</th>
            <th>Cumplido</th>
            <th>Valor</th>
        </tr>
    </thead>

    <tbody>

    {% for registro in registros %}

        <tr>
            <td>{{ registro.obtener_habito.nombre }}</td>
            <td>{{ registro.fecha }}</td>
            <td>{{ registro.cumplido }}</td>
            <td>{{ registro.valor }}</td>
        </tr>

    {% endfor %}

    </tbody>

</table>

{% endblock %}